.top-cast-container{
    margin: 0;
    padding: 0;
}
.top-cast-container h6{
    height: 14px;
    font-weight: 700;
    text-align: center;
}


.cards-container{
    display: flex;
    width: 300px;
    margin-left: 30px;
    overflow-x: scroll;
}
.cards-container::-webkit-scrollbar{
    display: none;
}